#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  #root {
    background-color: white;
    height: 100vh;
    align-items: flex-start;
    overflow-y: auto;
  }
}


@media (min-width: 768px) {
  #root {
    background-color: #f5f5f5;
    align-items: center;
  }
}
